.field {
  composes: field from '../form-field.module.css';
}

.label {
  composes: label from '../form-field.module.css';
}

.select {
  composes: control from '../form-field.module.css';
  background-color: white;
  cursor: pointer;
}

.selectError {
  composes: controlError from '../form-field.module.css';
}

.error {
  composes: error from '../form-field.module.css';
}
