<% provide(:title,"À propos") %>
<div class="center jumbotron">
<h1>&Agrave; propos</h1>
<h2>
Pourquoi Débats.fr ?
</h2>
<p>
  Description du projet
</p>
<p>
  <%= link_to "Créer un compte", new_user_path, class: "btn btn-lg btn-primary" %>
</p>
</div>
<p>
  Dernier sujet : <%= link_to "L'euthanasie", subjects_view_path %>
</p>