<% provide(:title,"À propos") %>
<div class="center jumbotron">
<h1>Pourquoi Débats.fr ?</h1>
<p>
  <strong>D&eacute;bats</strong> est un projet francophone et participatif, ayant pour objectif d’offrir une
  synth&egrave;se ouverte, objective et v&eacute;rifiable, des sujets clivants de notre soci&eacute;t&eacute;.
</p>
<p>
  <%= link_to "Créer un compte", new_user_path, class: "btn btn-lg btn-primary" %>
</p>
</div>
