<% provide(:title,"Charter") %>
<h1>Charte</h1>
<p>
Debats.co n’est pas un site de débats.
Débats.co a pour objectif de répertorier et cartographier les positions prises par des personnalités publiques au cours des débats qui font controverse en France. Ainsi, les contributeurs ne sont pas appelés à donner leur avis mais à rechercher, collecter et renseigner les positions exprimées sur un sujet particulier. 
Nous invitons les contributeurs de Débats.co à lire cette Charte et à s’y référer en cas de doute lors de l’utilisation du site.
</p>