<% provide(:title,"Contact") %>
<h1>Contact</h1>
<p align="center">
                <p>Nous sommes disponibles par email ou sur les réseaux sociaux.</p>

                <ul class="list-inline banner-social-buttons">
                    <li>
                                                <a href="mailto:contact@debats.co" class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i><span class="network-name">&nbsp;Courriel</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/debatsco" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                </ul>
</p>