<% provide(:title,"Mode d'emploi") %>
<h1>Mode d'emploi</h1>


<h2>Debats.co, qu’est-ce que c’est ?</h2>

<p>
Debats.co n’est pas un site de débats.<br>
Debats.co a pour objectif de répertorier et cartographier les positions prises par des personnalités publiques au cours des débats qui font controverse en France. Ainsi, les contributeurs ne sont pas appelés à donner leur avis mais à rechercher, collecter et renseigner les positions exprimées sur un sujet particulier. 
Nous invitons les contributeurs de Debats.co à lire cette mode d’emploi et à s’y référer en cas de doute lors de l’utilisation du site.</p>

<h2>Que peut-on faire avec Debats.co ?</h2>

La plateforme de débats.co est construite autour de deux usages. <br>
Le premier consiste à consulter la plateforme, en explorant les différents sujets enregistrés et le positionnement des personnalités publiques au sein de ces sujets. 
Le deuxième est de contribuer à la plateforme en y apportant le contenu nécessaire à la synthèse approfondie qu’elle offre aux autres utilisateurs.<br> 
Dans les deux cas, il est important de bien comprendre la structure du site. En effet, sur debats.co, l’information est hiérarchisée entre plusieurs éléments :
<ul>
<li>Le sujet</li>
<li>La position</li>
<li>La personnalité</li>
<li>L’argument</li>
</ul>
<br>
Un sujet est composé de plusieurs positions, adoptées par des personnalités par le biais d’un ou plusieurs arguments. 

<h2>Comment contribuer à Debats.co ?</h2>

Après avoir créer son compte, l’utilisateur souhaitant ajouter du contenu à Debats.co doit respecter un certain nombre de principes, détaillés ci-dessous. 

<br>
Chaque sujet comporte au moins deux positions. Une position est constituée par un corpus d’arguments qui peut être adopté par des personnalités publiques. 
Ainsi pour qu’un sujet puisse être créé, deux positions, adoptées chacune par au moins une personnalité publique, doivent également créées. La prise de position des personnalités publiques peut être associée à un ou plusieurs arguments. Qu’elle soit associée ou non à un argument, la prise de position doit être quoi qu’il arrive attachée à une source qui la justifie. 

<h2>Qu’est-ce qu’une source ? </h2>
Une source est un élément de référence permettant d’appuyer une prise de position ou un argument. La source peut être constituée par tout document télévisuel, radiophonique, journalistique, bibliographique dont la diffusion est, ou a été, publique. 
Il sera demandé au contributeur de retranscrire la citation qui soutient le propos en question, la date à laquelle ce propos a été tenu, et si possible  ???



<h2>Comment soumettre un contenu de qualité ?</h2>

Préexistence d'un contenu : Le contenu ou la référence que vous vous apprêtez à poster existe-t-il déjà ?<br>
Pour un sujet : Vérifier si le sujet est déjà traité ou partiellement traité dans un autre débat : auquel cas, vous pourrez enrichir le débat préexistant.
Pour un argument : Vérifier si un argument a déjà été donné : auquel cas vous pourrez la compléter avec une nouvelle référence. Si l'argument est selon vous suffisamment différent ou trop partiellement exprimé, pensez à voir s'il est plus intéressant d'ouvrir un un nouvel argument ou de compléter celui-ci.

<br><br>
Notoriété : Est-ce que le débat est assez connu ou important pour être traité sur la plateforme ?<br>
Basée sur une logique collaborative, la plateforme comporte plusieurs système permettant d’éviter les causes de signalement sus-mentionnées. Notamment, lors de la création d’une nouvelle page d’une personnalité publique ou d’un nouveau sujet de débat, 
Les sujets ainsi que les pages de personnalités peuvent être créés directement depuis la base de données de Wikipedia
Les sujets ou pages de personnalités publiques n’existant pas sur Wikipedia peuvent être proposées à la communauté et soumise au jugement des membres possédant la quantité necéssaire de points. 
<br><br>

Neutralité et cohérence du point de vue : Comment exprimer de façon objective l’intitulé des sujets ou les positions des personnalités ?<br>

- Pour la création d’un sujet <br>
Si le sujet n’existe pas déjà sur Wikipedia, il est nécessaire formuler son intitulé de sorte que ce ne soit pas une question ; qu’il constitue un fait (non pas “La transmission du récit national” mais “L’enseignement de l’Histoire à l’école”).<br><br>
- Pour la création d’un argument ou une prise de position <br>
Attribuer les points de vue directement à leurs auteurs : Isoler le passage (le "quoi") d'une manière claire (guillemets de citation, paragraphe ou section autonome...), et attribuer ce passage à un point de vue particulier (le "qui").<br>
Équilibrer la présentation : Assurer la contradiction des arguments et positions données. Si aucune autre position ne peut facilement être référencée, c'est probablement que la présence de la position initiale n'est pas justifiée.<br>
Préserver la cohérence du débat et de la prise de position : pour être valide dans le cadre d’un sujet, un argument doit être explicitement mobilisé par la personnalité publique pour répondre à la problématique initiale du débat. Par exemple, le cas de la discrimination positive ne peut pas être directement employé comme argument dans le cadre du débat sur la laïcité).


<br><br>


<h2>Système de points </h2>
La contribution au site est simple. Toutefois, avant de pouvoir accéder à toutes les modalités d’intégration et de modification de contenu, une phase d’apprentissage est nécessaire. Pour progresser, il faut s’exercer. Ainsi, à chaque contribution au site, un nombre de points est attribuer à l’utilisateur. L’accumulation de ces points lui donne progressivement accès aux fonctionnalités de debats.co. Le signalement de violation des principes inscrits dans cette Charte peut entraîner la perte de points. 



<h2>Panel de discussion </h2>


La confiance 
La plateforme Débats.co est basée sur la confiance. C’est-à-dire que le contenu est systématiquement considéré comme a priori valide, mais peut être retiré en cas de signalement. Plusieurs motifs peuvent pousser les autres membres à signaler votre contenu :
Le contenu ne respecte pas les règles de rédaction
Le contenu manque d’une source de référence adéquate
Le contenu pré-existe autrepart sur la plateforme

<h2>Comment éviter d’être signalé ?</h2>






