<% provide(:title,"Mode d'emploi") %>
<h1>Mode d'emploi</h1>


<h2>Debats.co, qu’est-ce que c’est ?</h2>

<p>
Debats.co n’est pas un site de débats.<br>
Debats.co a pour objectif de répertorier et cartographier les positions prises par des personnalités publiques au cours des débats qui font controverse en France. Ainsi, les contributeurs ne sont pas appelés à donner leur avis mais plutôt à rechercher, collecter et renseigner les positions exprimées sur un sujet particulier. 
Nous invitons les contributeurs de Debats.co à lire ce mode d’emploi et à s’y référer en cas de doute lors de l’utilisation du site.</p>

<h2>Que peut-on faire avec Debats.co ?</h2>

<p>La plateforme de débats.co a pour but de permettre deux usages. <br>
Le premioer consiste à consulter la plateforme, en explorant les différents sujets enregistrés et le positionnement des personnalités publiques au sein de ces sujets. 
Le deuxième usage consiste à contribuer à la plateforme en y apportant le contenu nécessaire pour une synthèse des différents sujets et prises de positions.<br> 
Dans les deux cas, il est important de bien comprendre la structure du site. En effet, sur Debats.co, l’information est articulée autour de plusieurs éléments :</p>
<ul id="reputation">
<li>Le sujet</li>
<li>La position</li>
<li>La personnalité</li>
<li>La prise de position</li>
<li>L’argument</li>
</ul>
<br>
<p>En somme, un sujet est composé de plusieurs positions (a minima 2 positions). Ces positions sont associées à une personnalité lorsque celles-ci prend position. Une prise de position est attachée à une référence, et peut être nourrie d'un ou plusieurs arguments qui sont formulé sur ce site par des "tags" ou mots clés. </p>

<h2>Comment contribuer à Debats.co ?</h2>

<p>Après avoir créé son compte, l’utilisateur souhaitant ajouter du contenu à Debats.co doit respecter un certain nombre de principes, détaillés ci-dessous. 

<br>
Comme nous l'avons compris plus haut, chaque sujet comporte au moins deux positions. Une position peut être adopté par des personnalités publiques et est constituée d'un corpus d’arguments (des "tags"). 
Ainsi pour qu’un sujet puisse être créé, deux <b>positions</b>, adoptées chacune par au moins une <b>personnalité</b> publique, doivent également créées. La <b>prise de position</b> des personnalités publiques peut être associée à un ou plusieurs <b>arguments</b>. Qu’elle soit associée ou non à un argument, la prise de position doit être attachée à une <b>source</b> qui la justifie.</p>

<h2>Qu’est-ce qu’une source ? </h2>
<p>Une source est un élément de référence permettant d’appuyer une prise de position ou un argument. La source peut être constituée par tout document télévisuel, radiophonique, journalistique, bibliographique dont la diffusion est, ou a été, publique. 
Il sera demandé au contributeur de retranscrire la citation qui soutient le propos en question, la date à laquelle ce propos a été tenu, et, si possible, de fournir un lien qui permet d'y accéder directement.</p>

<h2>Comment soumettre un contenu de qualité ?</h2>

<p>
<b>Préexistence d'un contenu</b> :
<br>Tout d'abord, demandez-vous si le contenu ou la référence que vous vous apprêtez à poster existe déjà.
Lors de la création d'un nouveau sujet, vous pouvez vérifier si celui-ci est déjà traité, ou partiellement traité, dans un autre sujet : auquel cas, vous pourrez enrichir le débat préexistant. Lors de l'ajout d'une prise de position, l'exercice est similaire : vous pouvez vérifier la pré-existence d'une prise de position pour la personnalité en question, et l'enrichir de nouvelles ressources le cas échant. Les arguments, représentés sur Débats.co par des tags, sont eux générables à l'infini. Le formulaire vous suggérera néanmoins les tags proposés par d'autres utilisateurs : il vous est donc fortement recommandé de les enrichir en les sélectionnant si cela est pertinent. 

<br><br>
<b>Notoriété et véracité</b> : 
<br>Il est important également de vous demander si le contenu est suffisamment important pour être traité sur la plateforme. Basée sur une logique collaborative, la plateforme comporte plusieurs mécanismes d'autorégulation, permettant d’éviter la publication de contenu considérés comme fallacieux ou hors-sujet. Chaque entrée, notamment lors de la création d’une nouvelle personnalité ou d’un nouveau sujet de débat, sont soumis à l'approbation des utilisateurs expérimentés de la plateforme. 
<br><br>

<b>Neutralité et cohérence du point de vue</b>
<br>Parler de cohérence dans la production d'informations débattues et enclines à des controverses est presque en soi contradictoire. Le plateforme de Débats.co a néanmoins comme objet de tendre un maximum vers l'idée de d'objectivité. 
<br>Afin de s'en rapprocher, il est nécessaire pour chaque utilisateur de se demander comment exprimer de façon objective l’intitulé des sujets ou les positions des personnalités. Dans un premier temps, et pour simplifier la démarche "objective", les sujets ainsi que les pages de personnalités peuvent être créés directement depuis la base de données de Wikipedia. Il vous suffira donc, après la composition des premières lettres de l'intitulé de votre personnalité ou de votre sujet, de sélectionner le titre de votre choix. Comme sus-mentionné, si le sujet ou la personnalité n'est pas contenu dans la base de donnée de Wikipedia, il est possible de suggérer sa création en la soumettant à l'approbation des membres expérimentés de la plateforme. 
<br>Lors de l'ajout d'une prise d'une position, il est important d'attacher à la source une citation qui justifie la prise de position. La citation doit être isolée, entre guillemets, ne pas être modifiée, et se suffir à elle-même pour être comprise (ne pas sortir la phrase d'un contexte qui peut altérer sa compréhensioin). Pour être valide dans le cadre d’un sujet, un argument doit être explicitement mobilisé par la personnalité publique et répondre à la problématique initiale du débat. 
    
<br></p>

<h2>Comment obtenir le titre d'utilisateur expérimenté ?</h2>
<p>La contribution au site est simple. Toutefois, avant de pouvoir accéder à toutes les modalités d’intégration et de modification de contenu, une phase d’apprentissage est nécessaire. Pour progresser, il faut s’exercer. Ainsi, à chaque contribution au site, un nombre de points est attribué à l’utilisateur. L’accumulation de ces points lui donne progressivement accès aux fonctionnalités les plus puissantes de Débats.co. Le signalement de violation des principes inscrits dans ce mode d'emploi peut entraîner la perte de points. Ainsi 5 status existent sur cette plateforme :
</p>
<ul id="reputation">
<li><b>Le Métèque</b> : Son score est neutre. Il vient d'arriver sur la plateforme, et doit encore faire ses preuves. Il peut soumettre des arguments et des sources. </li>
<li><b>L'Eloquent</b> : Son score est positif, il peut ajouter de nouvelles personnalités, de nouveau sujets, mais également suggérer l'approbation ou le rejet de modifications proposées par d'autres utilisateurs. Par défaut, tous les membres fondateurs inscrits lors de la bêta de Débats.co sont considérés comme Eloquents.</li>
<li><b>L'Idéaliste</b> : Son score est plus que positif, il peut instantanément supprimer la plupart des modifications faites par d'autres utilisateurs.</li>
<li><b>Le Sophiste</b> : son score est négatif, il a tout autant de droits que le nouvel arrivant, mais part avec autant de points de retard pour redevenir Métèque. </li>
</ul>

<!-- <h2>Panel de discussion </h2>

<p>La confiance 
La plateforme Débats.co est basée sur la confiance. C’est-à-dire que le contenu est systématiquement considéré comme a priori valide, mais peut être retiré en cas de signalement. Plusieurs motifs peuvent pousser les autres membres à signaler votre contenu :
Le contenu ne respecte pas les règles de rédaction
Le contenu manque d’une source de référence adéquate
Le contenu pré-existe autrepart sur la plateforme</ p>

<h2>Comment éviter d’être signalé ?</h2> -->

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Debats.co, qu’est-ce que c’est ?</a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Debats.co n’est pas un site de débats. Debats.co a pour objectif de répertorier et cartographier les positions prises par des personnalités publiques au cours des débats qui font controverse en France. Ainsi, les contributeurs ne sont pas appelés à donner leur avis mais plutôt à rechercher, collecter et renseigner les positions exprimées sur un sujet particulier. 
Nous invitons les contributeurs de Debats.co à lire ce mode d’emploi et à s’y référer en cas de doute lors de l’utilisation du site.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Collapsible Group 2</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Collapsible Group 3</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
</div>




