<li id="position-<%= position.id %>">
  <span class="PositionTitle"><%=position.title%></span>
  <span class="PositionDescription"><%=position.description%></span>
  <span class="PositionStatements"><%= render position.statements %></span>
</li>