/* typography */

@font-face {
  font-family: 'Gotham-Book';
  src:url('./fonts/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src:url('./fonts/Gotham-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src:url('./fonts/Gotham-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Gotham-Book', sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #f21e40;
  &:active {
    color: #222;
  }
}

h2 {
  font-family: 'Gotham-Book', sans-serif;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
  text-transform: uppercase;
  color: #f21e40;
  &:active {
    color: #222;
  }
}

h5 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 115, 162, 1);

}

p {
  font-family: 'Gotham-Book', sans-serif;
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: justify;
}
