.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
}

.mainContent {
}

.withTopMargin {
  margin-top: 40px;
}

.sidebar {
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 20px;
  }
}
