.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 30px;
}

.title {
  color: var(--debats-red);
  font-family: var(--font-gotham-bold);
  font-size: 1.5em;
  margin-bottom: 20px;
}

.message {
  font-family: var(--font-gotham-book);
  color: var(--text-dark);
  margin-bottom: 10px;
}

.detail {
  font-size: 0.9em;
  color: var(--text-light);
  margin-top: 10px;
}
