<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.label :name, "Nom" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, "Courriel"%>
        <%= f.email_field :email, class: 'form-control'  %>

        <%= f.label :password, "Mot de passe" %>
        <%= f.password_field :password, class: 'form-control'  %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control'  %>

        <%= f.submit "Enregistrer", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target=_blank>change</a>
    </div>
  </div>
</div>