<% provide(:title, "S'inscrire") %>
<h1>S'inscrire</h1>
<p>Vous êtes sur la voie du débat.</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.label :name, "Nom" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, "Courriel"%>
        <%= f.email_field :email, class: 'form-control'  %>

        <%= f.label :password, "Mot de passe" %>
        <%= f.password_field :password, class: 'form-control'  %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control'  %>

        <%= f.submit "Créer mon compte", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>