.card {
  padding: 24px;
  background-color: var(--card);
  border-radius: var(--radius-card);
}

.title {
  composes: label from '../../../../styles/text.module.css';
  margin-bottom: 8px;
}

.text {
  composes: small from '../../../../styles/text.module.css';
}
