
<div class="row">
<% if public_figure.picture? %>
  <div style="height:100px; width: 100px; -webkit-border-radius: 50%; border-radius: 50%; background: url('<%= public_figure.picture.url %>') 50% 50% no-repeat; background-size:cover; background-position: center center; float:left; margin-right:15px;"></div>
<% end %>
  <div style="overflow:hidden;"><h2 class="figure-title"><%= link_to public_figure.name, public_figure %></h2>
  <p class="figure-presentation-text"><%= public_figure.presentation %></p></div>
</div>