<table class="table" style="border-right: 1px solid #ccc;">
  <tbody>

   
     <ul id="subject" style="list-style-type: none;">
     <li>

     <tr>
      <td>
      <% if public_figure.picture? %>
	  <div style="height:100px; width: 100px; -webkit-border-radius: 50%; border-radius: 50%; background: url('<%= public_figure.picture.url %>') 50% 50% no-repeat; background-size:cover; background-position: center center; float:left; margin-right:15px;"></div>
		<% end %>
      </td>
      <td style="width:33%;">

      	<h2 class="figure-title" style="color:#333333 !important;"><%= link_to public_figure.name, public_figure %>
      	</h2>

        <% if public_figure.subjects.count == 0 %> <h6 style="color:#f21e40 !important;"> Aucun sujet actif</h6>
        <% else %>
      	<h6 style="color:#f21e40 !important;"><%= public_figure.subjects.count%>
          <% if public_figure.subjects.count > 1%>  sujets actifs</h6>
          <% else %> sujet actif</h6>
          <% end %>
        <% end %>

      </td>


      <td style="width:67%; text-align:center;vertical-align:top;padding-top:20px;border:none;">

       <p class="figure-presentation-text" style="font-size:13px !important;"><%= public_figure.presentation %></p></div>


      </td>

      
 
         </tr>
        </li>
        
    </ul>
   
  </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
     
        $(".figure-presentation-text").shorten();
     
    });
</script>