<% provide(:title, "Personnalités") %>

<h1>Les Personnalités récentes
  <%= link_to "Ajouter", new_public_figure_path, class: "btn btn-primary" if allowed_to?(:add_personality) %>
</h1>
<div class="public-figures-index col-md-8" >

  <%= render @public_figures %>
</div>
<div class="col-md-4">
<%= render 'layouts/last_statements' %></div>
<%= will_paginate %>