<% provide(:title, "Personnalités") %>

<h1>Personnalités</h1>

<div class="public-figures-index col-md-8" >
<%= link_to "Ajouter une personnalité", new_public_figure_path, class: "btn btn-primary" %>

  <%= render @public_figures %>
</div>
<div class="col-md-4">
<%= render 'layouts/last_statements' %></div>
<%= will_paginate %>