<% provide(:title, "Personnalités") %>

<%= render 'layouts/last_statements' %>

<%= link_to "Nouvelle", new_public_figure_path, class: "btn btn-primary" %>

<div class="public-figures-index" >
  <%= render @public_figures %>
</div>
<%= will_paginate %>