<% if @form_errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        Il y a <%= pluralize(@form_errors.count, "erreur") %>
      </div>
      <ul>
        <% @form_errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>