.title {
  composes: display from '../../../styles/text.module.css';
  font-size: 32px;
  margin: 0 0 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.successText {
  composes: body from '../../../styles/text.module.css';
}
