<li class="list-style-type: none;">
Au sujet de
<%= link_to statement.position.subject.title, statement.position.subject %>
en faveur de 
<%= link_to statement.position.title, statement.position %>
</li>