    <div class="row">
    
    <div style="overflow:hidden;"><h2 class="subject-title"><%= link_to subject.title, subject %></h2>
    </div>
    # Stats missing HERE   

    <% if public_figure.picture? %>
    <div style="height:100px; width: 100px; -webkit-border-radius: 50%; border-radius: 50%; background: url('<%= public_figure.picture.url %>') 50% 50% no-repeat; background-size:cover; background-position: center center; float:left; margin-right:15px;"></div>
    <% end %>
  

    </div>