<img src="/images/intro-bg.jpg" alt="home image" />

<h1>Sujets d'actualité</h1>

<div class="subjects-index col-md-8" style="margin-bottom:20px">

<%= render @subjects %>
<%= will_paginate %>   
    
</div>


<div class="col-md-4">
<%= render 'layouts/last_statements' %>
</div>
