<% provide(:title, "Personnalités") %>
<div class="container-fluid" style="width:100vw; position:relative; margin-left:-50vw;left:50%;">
    <div class="col-md-7 col-md-offset-1">
        <h1>Les Personnalités 
        </h1>
        <%= link_to "Référencer une personnalité", new_public_figure_path, class: "btn btn-primary", data: { modal: true } if allowed_to?(:add_personality) %>
        <p><%= link_to "Test : modal d'ajout", new_statement_path, data: { modal: true } %> </p>
        <div class="public-figures-index">
            <%= render @public_figures %>
        </div>
    </div>
    <div class="col-md-3">
        <%= render 'layouts/last_statements' %>
        <%= will_paginate %>
    </div>
    <div class="col-md-1"></div>
</div>