<% provide(:title, "Nouvelle personnalité") %>
<h1>Nouvelle personnalité</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@public_figure, html: {multipart:true}) do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :name, "Nom" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :presentation, "Présentation"%>
        <%= f.text_area :presentation, class: 'form-control'  %>

        <span class="picture" ><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></span>

        <%= f.submit "Créer cette personnalité", class: "btn btn-primary" %>
    <% end %>
    <script type="text/javascript">
        $("#public_figure_picture").bind('change', function() {
            var size_in_MB = this.files[0].size/1024/1024;
            if (size_in_MB > 5) {
                alert("L'image ne doit pas dépasser 5 Mo. Veuillez choisir un fichier plus léger. ");
            }
        })
    </script>
  </div>
</div>