<% provide(:title, "Mot de passe oublié") %>
<h1>Mot de passe oublié</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.label "Adresse e-mail" %>
        <%= f.email_field :email, class: "form-control" %>
        <%= f.submit "Nouveau mot de passe", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>