.page {
  max-width: 700px;
}

.pageTitle {
  composes: display from '../../styles/text.module.css';
  margin: 0 0 8px;
}

.pageDescription {
  composes: body from '../../styles/text.module.css';
  margin: 0 0 24px;
}
