<%= link_to statement.public_figure do %>
<div style="height:50px; width: 50px; -webkit-border-radius: 50%; border-radius: 50%; background: url('<%= statement.public_figure.picture.url%>') 50% 50% no-repeat;"></div>
<% end %>

