<li>
  <div>
<%= image_tag("subjects/l-euthanasie.png", class:"subject-main-image", alt:"L'euthanasie") %>
<h2 class="subject-title"><%= link_to subject.title, subject %></h2>
<p class="subject-presentation-text"><%= subject.presentation %></p>
      </div>
</li>