  <div class="row">
    <%= image_tag subject.picture.url, class:"subject-main-image", alt:"#{subject.title}" if subject.picture?  %>
    <h2 class="subject-title"><%= link_to subject.title, subject %></h2>
    <p id="jTruncate_subject-presentation-text" class="subject-presentation-text"><%= subject.presentation %></p>
      </div>
  <script type="text/javascript">
$().ready(function() {  
    $('#subject-presentation-text').jTruncate({  
        length: 200,  
        minTrail: 0,  
        lessAni: 2000  
    });  
});  
  </script>