<% provide(:title, "Sujets") %>

<%= render 'layouts/last_statements' %>

<%= link_to "Nouveau", new_subject_path, class: "btn btn-primary" %>

<div class="subjects-index" >
  <ul id="subjects-index">
    <%= render @subjects %>
  </ul>
</div>
<%= will_paginate %>