<% provide(:title, "Sujets") %>

<h1>Sujets</h1>
<%= link_to "Nouveau", new_subject_path, class: "btn btn-primary" if  allowed_to(:add_subject) %>

<div class="subjects-index col-md-8" >
<%= render @subjects %>
<%= will_paginate %>
</div>

<div class="col-md-4">
<%= render 'layouts/last_statements' %>
</div>
