<% provide(:title, "Sujets") %>

<h1>Sujets <%= link_to "Créer un sujet", new_subject_path, class: "btn btn-primary" if  allowed_to?(:add_subject) %></h1>


<div class="subjects-index col-md-8" style="margin-bottom:20px">

<%= render @subjects %>
<%= will_paginate %>
</div>

<div class="col-md-4">
<%= render 'layouts/last_statements' %>
</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-info btn-lg" data-toggle="modal" data-target="#myModal">Créer un sujet</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nouveau sujet</h4>
      </div>
      <div class="modal-body">
          <p>TITRE :</br>
        PRESENTATION :</br>
            CHOSIR LE FICHIER (upload)</br>
            CREER CE SUJET (bouton)</br>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>