<% provide(:title, "Sujets") %>

<%= render 'layouts/last_statements' %>

<%= link_to "Nouveau", new_subject_path, class: "btn btn-primary" if  allowed_to(:add_subject) %>

<div class="subjects-index" >
    <%= render @subjects %>
</div>
<%= will_paginate %>