<% provide(:title, @subject.title ) %>
<h1><%= @subject.title %></h1>
<%= image_tag("subjects/l-euthanasie.png", class:"subject-main-image", alt:"#{@subject.title}") %>
<p class="subject-presentation-text"><%= @subject.presentation %></p>
