<% provide(:title, @subject.title ) %>
<h1><%= @subject.title %></h1>
<%= image_tag("subjects/l-euthanasie.png", class:"subject-main-image", alt:"#{@subject.title}") %>
<% if current_user && current_user.reputation > 999 %>
<%= link_to "Supprimer", @subject, method: :delete, data: { confirm: "Supprimer \"#{@subject.title}\" ?" }, class: "btn btn-primary" %>
<% end %>
<p class="subject-presentation-text"><%= @subject.presentation %></p>
