<% provide(:title, "L'euthanasie") %>
<h1>L'euthanasie</h1>
<%= image_tag("subjects/l-euthanasie.png", class:"subject-main-image", alt:"L'euthanasie") %>
<p class="subject-presentation-text">La majorité des États ne reconnaît pas ou interdit l'euthanasie active
  et les autres formes d'aide à la fin de vie, mais dans beaucoup
  d'entre eux, notamment en Europe et en Amérique du Nord, il existe
  une tolérance implicite ou explicite à l'encontre de ces pratiques,
  pour autant qu'elles se déroulent dans un cadre réglementé.</p>
