<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<header class="navbar navbar-fixed-top navbar-custom">
  <div class="container-fluid">
  <div class="col-md-1"></div>
   <div class="col-md-2"> <%= link_to image_tag("header.png"), root_path, id:"logo" %></div>
   <div class="col-md-8">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("Subjects"), subjects_path %></li>
        <li><%= link_to t("Public_figures"), public_figures_path %></li>
		<li><%= link_to t("Mode d'emploi"), mode_demploi_path %></li>
        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profil", current_user %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Déconnexion", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>
        <% else %>
            <li><%= link_to "Connexion", login_path %></li>
            <li><%= link_to "Inscription", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
    </div>
    <div class="col-md-1"></div>
  </div>
</header>