<table class="table">
  <tbody>

   
      <ul id="subject">
      <li>

       <tr>

      <td style="width:33%; border: none;">
        
        <h2 class="subjects-title" style="color:#333333 !important;"><%= link_to subject.title, subject %></h2>
        <h6 style="color:#f21e40 !important;"><%= pluralize(subject.positions.count, 'position') %></h6>
        <h6 class="count"><%= pluralize(subject.associated_public_figures.count, 'personnalité') %></h6>

        <h6 style="color:#f21e40 !important;"><%= pluralize(subject.statements.count, 'prise de position') %></h6>
      </td>


      <td style="width:67%; text-align:center;vertical-align:middle;padding-top:20px;">

         
    <p class="subject-presentation-text" style="font-size:13px !important;">
      <strong><i>Résumé du sujet :</i></strong><br><br>
      <%= subject.presentation %></p>
      </td>
      <td class="seemore">
        <div>
        <%= link_to "Voir les positions", subject %>
        </div> 
      </td>
      

         </tr>
        </li>
        
    </ul>
   
  </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
     
        $(".subject-presentation-text").shorten();
     
    });
</script>