<div class="row" height="650px" style="background:url('<%= asset_path('zemmour_1.jpg') %>');background-size:cover;background-position: center center;">
    <div style="height:650px;width:auto; font-color:white !important;text-align: center;vertical-align: middle;">
    <br><br><br><br><br><br><br>
    <h5>Ceci n'est pas la page que vous cherchiez ?</h5><br>
    <div id="white">Méfiez vous des sentiers périlleux ! Voulez-vous retourner à la page d'accueil ?</div>
    <br><br><br>
    </div>
</div>