<% provide(:title, "Connexion") %>
<h1>Connexion</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= link_to "(Oublié ?)", new_password_reset_path %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Me connecter automatiquement sur cet ordinateur</span>
        <% end %>

        <%= f.submit "Connexion", class: "btn btn-primary" %>

    <% end %>

    <p>Nouveau ? <%= link_to "Créez votre compte !", new_user_path %></p>
  </div>
</div>
