@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins";

/* Universal */

body {
  padding-top: 60px;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

div.main-content {
  min-height: 300px;
  margin-top: 30px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

statements {
  list-style-type: none;
}


// Last statements on the left
div#last-statements {
  float:right;
  margin-right:10px;
  .public-figure-little-image {
    width: 50px;
    height: 50px;
	border-radius: 50%;
	float:left; 
	margin-right:15px;
  }
  .public-figure-text {
  overflow:hidden;}
}