h1 {
  text-align: left;
  font-size: 2.5em;
}

h2 {
  text-align: left;
}

img.subject-main-image {
  float: right;
  margin-right: 10px;
  margin: 10px;
}

p.subject-presentation-text {
  margin: 10px;
  text-align: justify;
}

div.subjects-index {
  ul li {

  }
  img.subject-main-image {
    float:left;
  }
}