<%= @user.name%>,

Suite à votre inscription sur <%= APP_NAME %>, veuillez utiliser le lien ci-dessous pour activer votre compte :

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
