Cher <%= @user.name%>,

Suite à votre demande, vous pouvez créer un nouveau mot de passe pour vous connecter sur <%= APP_NAME %> en utilisant le lien ci-dessous :

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

  Attention :
  - Ce lien expirera dans 2 heures.
  - Votre ancien mot de passe ne sera plus valable.
  - Si ce n'est pas vous qui avez demandé à créer un nouveau mot de passe, ignorez cet e-mail, votre mot de passe ne changera pas.