<h1><%= APP_NAME %></h1>

<p>Cher <%= @user.name%>, </p>

<p>
  Suite à votre demande, vous pouvez créer un nouveau mot de passe pour vous connecter sur <%= APP_NAME %> en utilisant le lien ci-dessous :
</p>

<%= link_to "Nouveau mot de passe", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>
  Attention : <br/>
   - Ce lien expirera dans 2 heures. <br/>
   - Votre ancien mot de passe ne sera plus valable. <br/>
   - Si ce n'est pas vous qui avez demandé à créer un nouveau mot de passe, ignorez cet e-mail, votre mot de passe ne changera pas.
</p>