@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}