/* footer */

footer {
  clear:left;
  margin-top: 55px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;
	font-family: 'Gotham-Book', sans-serif;
    &:hover {
    color: #222;
	font-family: 'Gotham-Book', sans-serif;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

