// Place all the styles related to the public-figures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#celebrity img {
	width: 150px;
	height: 150px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
}