// Place all the styles related to the public-figures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#public_figure div {
	height: 150px;
	width: 150px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	 background-size:cover;
  	background-repeat:no-repeat;
}

p.figure-presentation-text {
  margin: 10px;
  text-align: justify;
  font-family: 'Gotham-Book',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;

}