h2.subject-title {
  font-size: 2.5em;
}

img.subject-main-image {
  float: left;
  margin-right: 10px;
  margin: 10px;
}

p.subject-presentation-text {

}

div.subjects-index {
  ul li {

  }
  img.subject-main-image {

  }
}