.logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    font-family: 'Gotham-Book', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f21e40;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 9px;
    font-weight: bold;

    & img {
        width: 125px;
    }
}

/* header */

.navbar {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-family: 'Gotham-Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    background-color: #fff;

    & a {
        color: #f21e40;
    }

    & nav {
        & li a {
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;

            &:hover {
                outline: 0;
                color: #333;
                background-color: transparent;
            }

            &:focus,
            &:active {
                 outline: 0;
                 background-color: transparent;
             }
        }

        &.active {
        	outline: 0;

        	& a {
			    color: #333;
			    background-color: rgba(255, 255, 255, .3);

			    &:hover {
   					color: #f21e40;
   				}
			}
        }
	}
}