<footer class="footer">
  <div class="container-fluid">
    <div class="col-md-1"></div>
<div class="col-md-5">
<small>
    <a href="#">Crédits</a>
    |
    <a href="#">Mentions Légales</a>
  </small></div>
  <div class="col-md-5">
  <nav>
    <ul>
      <li><%= link_to "À propos",  a_propos_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://twitter.com/debatsco" target="_blank">Twitter</a></li>
    </ul>
  </nav>
  </div>
  <div class="col-md-1"></div>
  </div>
</footer>