<footer class="footer">
  <small>
    <a href="#">Crédits</a>
    |
    <a href="#">Mentions Légales</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "&Agrave; propos",  a_propos_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://twitter.com/debatsco" target="_blank">Twitter</a></li>
    </ul>
  </nav>
</footer>